{% extends 'index.html' %}
{% load static %}

{% block title %}
{{detalle_post.titulo}}
{% endblock title %}

{% block titulo_principal %}
    <h1>{{detalle_post.titulo}}</h1>
    <p>{{detalle_post.descripcion}}</p>
    <p>Escrito por: {{detalle_post.autor}}</p>
{% endblock titulo_principal %}

{% block image %}
{{detalle_post.imagen}}
{% endblock image %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center align-items-center">
                <div class="col-10">
                    {{detalle_post.contenido | safe }}   
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock contenido %}